
<% include adminheader.ejs %>
                <div id="stats">
                    <h4>Statistics</h4>
                    <small>Various statistics for the election held are as follows : </small>
                    <hr>
                    <ul>
                        <li><b>Number of Registered Voters : </b><%= voters.length%></li>
                        <li><b>Number of Candidates : </b><%= candidates.length%></li>
                        <li><b>Number of Positions at Which Elections Are Held : </b><%= election.length%></li>
                      </ul>
                      <hr>
                    </div>  

                

            </div>
        </div>
    </div>
    </body>

    </html>